.logintitle {
    font-size: 25px;
    font-family: Helvetica;
    padding-left: 14ch;
    padding-top: 40px;
    padding-bottom: 30px;
}

.title2 {
    font-size: 15px;
    font-weight: bold;
    font-family: Helvetica;
    padding-left: 24ch;
}
.login{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
}